@charset "utf-8";

@import "../../node_modules/bulma/bulma";

html.error {
  h1 {
    font-size: 4rem
  }
  h1 span.error-status {
    padding-right: 1rem
  }
}

nav.navbar.top, .navbar-menu {
  background-color: #0f4057;
  min-height: 70px;

  .navbar-item img {
    max-height: none;
    margin-right: 30px;
  }

  .navbar-item, .navbar-burger {
    color: #ffffff;
  }

  .navbar-item.is-tab.is-active {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }

  .navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }
}

section.section {
  padding: 1rem 0 1.5rem;
}

article.article {
  padding: 0 0.5rem;
}

#status-connection {
  padding-left: 1rem;
}

table.blocks, table.state, table.network {
  tr td {
    border: none;
    border-top: 1px solid $border;
  }

  th.marker {
    width: 24px;
  }

  td.marker {
    cursor: pointer;
    padding: 0.5em 0;
  }

  td.block-data, td.network-address, td.network-publickey, td.state-key, td.state-value {
    width: min-content;
    word-break: break-all;
  }

  td.block-data {
    border: none;
    font-family: monospace;
    font-size: 0.75rem;
    padding-left: 3rem;
    white-space: pre-wrap;
  }
}
