@charset "utf-8";

$white: hsl(0,0%,100%);
$diva-blue: hsl(199,71%,20%);
$dark-blue: #0d3345;
$light-green: #dbf514;

$scheme-main: $diva-blue;
$scheme-main-bis: hsl(199,71%,18%);
$scheme-main-ter: hsl(199,71%,16%);
$scheme-invert: hsl(0,0%,100%);
$scheme-invert-bis: hsl(0,0%,98%);
$scheme-invert-ter: hsl(0,0%,96%);

$background: $diva-blue;
$text: $white;
$shadow: none !important;
$navbar-box-shadow-size: 0 0 0 0;

$link: $light-green;
$link-hover: $link;
$link-hover-border: $link;
$link-active: $link;
$link-visited: $link;
$link-focus: $link;
$link-focus-border: $link;

$grey: hsl(0,0%,95%);
$grey-dark: hsl(0,0%,90%);
$grey-darker: hsl(0,0%,85%);

@import "../../node_modules/bulma/bulma";

html.error {
  h1 {
    font-size: 4rem
  }
  h1 span.error-status {
    padding-right: 1rem
  }
}

section.section {
  margin: 1rem 0 2rem 0;
  padding: 0;
}

/* typography / icons */
@font-face {
  font-family: 'diva-exchange-explorer';
  src:
    url('../webfonts/diva-exchange-explorer.ttf') format('truetype'),
    url('../webfonts/diva-exchange-explorer.woff') format('woff'),
    url('../webfonts/diva-exchange-explorer.svg#diva-exchange-explorer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-font-family {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'diva-exchange-explorer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon i {
  @extend .icon-font-family;
}

.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-stream:before {
  content: "\f550";
}
.icon-layer-group:before {
  content: "\f5fd";
}
.icon-network-wired:before {
  content: "\f6ff";
}
.icon-search:before {
  content: "\f002";
}

/* animations */
.animated-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.animated-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

nav.navbar.top, .navbar-menu {
  background-color: $dark-blue;
  box-shadow: none !important;

  .navbar-item img {
    max-height: none;
    margin-right: 30px;
  }

  .navbar-item.is-tab.is-active {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }

  .navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }

  .navbar-item.status {
    .status-update, .online {
      color: $link;
    }
    span {
      padding-left: 1rem;
    }
  }
}

@include touch {
  // Styles applied
  // below $desktop
  .navbar-burger {
    background-color: transparent !important;
  }

  .navbar-menu {
    padding: 0 0 0.5rem 0;
    text-align: right;
  }
  .navbar-item {
    border-bottom-width: 0 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0 !important;
    min-height: 2.5rem !important;
  }
  .navbar-item.status {
    margin-top: 0.5rem !important;
    margin-left: 0.5rem !important;
    border-top: 1px solid $border !important;
  }
}

article.blocks {
  div.columns {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div.column {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  div.columns.wrap div.column {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div.container.head {
    div.column {
      background-color: $dark-blue;
      border: none !important;
      font-weight: bold;
    }
  }

  div.container.body {
    div.column.block-height span {
      color: $link;
      cursor: pointer;
    }
    div.column.block-height span a {
      padding-left: 0.25rem;
    }
    div.column.block-height span:before {
      @extend .icon-font-family;
      @extend .icon-angle-right;
    }
    div.column.block-height.open span:before {
      @extend .icon-font-family;
      @extend .icon-angle-down;
    }

    div.dna {
      display: inline-block;
      height: 0.75rem;
    }

    .dna-addPeer {
      background-color: #ff71ce;
    }
    .dna-modifyStake {
      background-color: #01cdfe;
    }
    .dna-removePeer {
      background-color: #05ffa1;
    }
    .dna-data {
      background-color: #b967ff;
    }
    .dna-decision {
      background-color: #fffb96;
    }

    div.column.block-data {
      padding: 0 0 0.75rem 0.75rem;

      div.summary {
        div.dna {
          width: 0.75rem;
          position: relative;
          top: 1px;
        }
        span {
          margin-left: 0.5rem;
        }
      }
    }

    code {
      color: $white-ter;
      white-space: pre-wrap;
      word-break: break-all;
      max-width: 100%;
      display: block;
    }
  }
}

article.about div.container {
  max-width: 60rem !important;
}

div.card {
  border: 1px solid $border;
  margin-bottom: 1rem;
}

div.card-content {
  width: 100%;
  padding: 0;
}

p.card-header-title {
  word-break: break-all;
}

div.card-content div.content p {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
