extends layout

block content
  form(id='search-blocks')
    div(class='columns is-mobile')
      div(class='column is-two-thirds')
        div(class='field')
          div(class='control has-icons-left is-expanded')
            input(class='input is-medium search' type='text' name='q' placeholder='Filter')
            span(class='icon is-medium is-left')
              i(class='icon-search')

      div(class='column has-text-right')
        div(class='field')
          div(class='control')
            div(class='select is-medium')
              select(name='pagesize')
                option(selected) 100
                option 50
                option 20

  article(class='article blocks')
    table(class='table is-fullwidth')
      thead
        tr
          th(class='marker')
          th Block
          th Transactions
      tbody

    div(class='paging')
      div(class='columns is-mobile is-size-4 is-vcentered')
        div(class='column has-text-left')
          a(class='paging first is-hidden') &lt;&lt;
        div(class='column has-text-left')
          a(class='paging previous is-hidden') &lt;
        div(class='column has-text-right')
          a(class='paging next is-hidden') &gt;
        div(class='column has-text-right')
          a(class='paging last is-hidden') &gt;&gt;
