nav(class='navbar container is-fixed-bottom is-hidden-touch is-light')
  div(class='navbar-start')
    div(class='navbar-item')
      span(class='is-large') Connection
      span(id='status-connection' class='has-text-weight-bold has-text-danger icon')
        i(class='status-connection')
    div(class='navbar-item')
      span(id='status-update' class='is-large has-text-success is-hidden') Updated!

  div(class='navbar-end')
    div(class='navbar-item')
      span(class='is-large') &copy;&nbsp;
        a(href='https://diva.exchange' target='_blank') diva.exchange
    div(class='navbar-item')
      span(class='is-large')
        a(href='https://codeberg.org/diva.exchange/explorer' target='_blank') Source Code
    div(class='navbar-item')
      span(class='is-large')
        a(href='/LICENSE.txt' target='_blank') AGPLv3
