head
  title= (title || 'DIVA.EXCHANGE Explorer')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/typography.css' as='style')
  link(rel='stylesheet' href='/css/explorer.min.css' as='style')
  script(src='/js/umbrella.min.js')
  script(src='/js/ui.js')
  link(rel='icon' href='/media/diva-exchange-logo-32x32.png' sizes='32x32')
  link(rel='icon' href='/media/diva-exchange-logo-192x192.png' sizes='192x192')
  link(rel='apple-touch-icon' href='/media/diva-exchange-logo-180x180.png')
