head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title= (title || 'DIVA.EXCHANGE Blockchain Explorer')
  link(rel='stylesheet' href='/css/explorer.min.css' as='style')
  script(src='/js/umbrella.min.js')
  script(src='/js/ui.js')
  meta(http-equiv='cleartype' content='on')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='viewport' content='width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes')

  link(rel='icon' href='/media/diva-exchange-logo-32x32.png' sizes='32x32')
  link(rel='icon' href='/media/diva-exchange-logo-192x192.png' sizes='192x192')
  link(rel='apple-touch-icon' href='/media/diva-exchange-logo-180x180.png')

  meta(name='theme-color' content='#0f4057')
  meta(name='description' content='Blockchain explorer to examine the contents of divachain. This blockchain is the storage layer of the distributed digital value exchange and research project DIVA.EXCHANGE. The distributed exchange DIVA.EXCHANGE is built to be highly secure and truly private.')
  meta(property='og:description' content='Blockchain explorer to examine the contents of divachain. This blockchain is the storage layer of the distributed digital value exchange and research project DIVA.EXCHANGE. The distributed exchange DIVA.EXCHANGE is built to be highly secure and truly private.')
  meta(property='og:title' content='DIVA.EXCHANGE Blockchain Explorer')
  meta(property='og:url' content='https://testnet.diva.exchange')
  meta(property='og:image' content='https://testnet.diva.exchange/media/diva-exchange-owl-1920x1080.png')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:site' content='@DigitalValueX')
  meta(name='twitter:url' content='https://testnet.diva.exchange')

  link(href='https://testnet.diva.exchange/osd.xml' rel='search' title='DIVA.EXCHANGE testnet block search' type='application/opensearchdescription+xml')
