extends layout

block content
  form(class='my-3' id='search-network')
    div(class='field')
      div(class='control has-icons-left is-expanded')
        input(class='input is-medium search' type='text' name='q' placeholder='Filter')
        span(class='icon is-medium is-left')
          i(class='icon-search')

  article(class='network')

    table(class='network table is-fullwidth')
      thead
        tr
          th Address
          th Public Key
          th Stake
      tbody
