div(class='card')
  header(class='card-header')
    p(class='card-header-title')= publicKey
    p(class='card-header-icon')= stake
  div(class='card-content')
    div(class='content')
      pre
        a(href='http://' + http + '/about' target='_blank')= 'http://' + http
        br
        = 'UDP: ' + udp

